img {
    width: 300px;
    background-color: black;
    margin: 15px;
    padding: 5px;
}

button {
    margin-top: 20px;
    background-color: white;
    margin: 10px;
    padding: 6px;
}

body {
    background-color: coral;
}

board {
    background-color: yellow;
    padding: 2px;
    border: solid black;
}